/* header-style */
.logo-size {
    height: 95px;
    
}
.logot {
    font-size: 40px;
    
}
.margin {
    /* margin: 0 90px; */
}
#block-size {
    width: 367px;
    height: 410px;
}
.text-h {
    
    height: 131px;
}
.size {
    width: 430px;
    height: 52px;
}
.button-size {
    width: 170px;
    height: 52px;
    
}
